name: flask-notes app CI
on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python
        run: echo "Setting up the python environment.."

      - name: Install Dependencies
        run: echo "Installing dependencies"

      - name: Run tests
        run: echo "Running tests..."

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: |
          echo "Building Docker image"
          docker build -t flask-notes:01 .
          sleep 10
          docker ps
          sleep 5
          docker ps -a

      - name: Run Docker Container
        run: |
          echo "Running Container"
          docker run -d -p 5000:5000 flask-notes:01

      - name: Cleanup
        run: |
          echo "Cleaning up Docker images and containers"
          docker rm -f $(docker ps -a -q) || true
          docker rmi -f $(docker images -a -q) || true

      - name: Complete
        run: echo "CI workflow completed."
